<section>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <!-- Logo y Nombre del sitio -->
        <div class="inicial navbar-brand d-flex align-items-center" style="margin-left: 10px;" href="#">
          <!-- Logo -->
          <img src="https://hoypyspace.sfo2.cdn.digitaloceanspaces.com/imagenes/2016/05/10045136/deportes_unicanal_mas_copy.jpg" alt="Logo del sitio" class="" style="width: 180px; height: 85px;">
          <!-- Espacio entre imagen y texto -->
          <span class="ms-2"></span> 
          
        </div>
        
        <!-- Botón del Offcanvas -->
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
          <!-- ms auto manda los items a la derecha y me-auto pegados al logo -->
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/home">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">log In</a>
            </li>
      
          </ul>
        </div>
      </div>
    </nav>
    
    <!-- Offcanvas -->
    <div class="offcanvas offcanvas-start bg-dark text-white" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">

      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menú</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="index.html">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="SobreNosotros.html">Sobre Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="ProductosServicios.html">Productos y Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contactanos.html">Contactanos</a>
          </li>
        </ul>
      </div>
    </div>
  </section>