<!-- <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre del Usuario</th>
        <th>Evento</th>
        <th>Fecha de Inscripción</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let inscripcion of inscripciones">
        <td>{{ inscripcion.usuario_nombre }}</td>
        <td>{{ inscripcion.evento_nombre }}</td>
        <td>{{ inscripcion.fecha_inscripcion | date:'dd/MM/yyyy HH:mm' }}</td>
        <td>{{ inscripcion.estado }}</td>
      </tr>
    </tbody>
  </table>
-->

  <form (ngSubmit)="inscribirUsuario()">
    <div class="form-group">
      <label>Usuario:</label>
      <select class="form-control" [(ngModel)]="inscripcion.usuario_id" name="usuario_id" required>
        <option *ngFor="let usuario of usuarios" [value]="usuario.id">{{ usuario.nombre }}</option>
      </select>
    </div>
  
    <div class="form-group">
      <label>Evento:</label>
      <select class="form-control" [(ngModel)]="inscripcion.evento_id" name="evento_id" required>
        <option *ngFor="let evento of eventos" [value]="evento.id">{{ evento.nombre }}</option>
      </select>
    </div>
  
    <button type="submit" class="btn btn-primary">Inscribirse</button>
    <button class="btn btn-info" routerLink="/detalle-inscripcion" style="margin-left: 20px;">Ver Inscripciones</button>
  </form>
  