<div class="login-wrapper">
  <div class="login-box">
    <h2>Inscripción a Evento</h2>
    <form class="formulario" (ngSubmit)="inscribirUsuario()">

      <div class="input-container">
        <i class="fa fa-user"></i>
        <select [(ngModel)]="inscripcion.usuario_id" name="usuario_id" required>
          <option value="" disabled selected>Seleccione un usuario</option>
          <option *ngFor="let usuario of usuarios" [value]="usuario.id">{{ usuario.nombre }}</option>
        </select>
      </div>

      <div class="input-container">
        <i class="fa fa-calendar-check"></i>
        <select [(ngModel)]="inscripcion.evento_id" name="evento_id" required>
          <option value="" disabled selected>Seleccione un evento</option>
          <option *ngFor="let evento of eventos" [value]="evento.id">{{ evento.nombre }}</option>
        </select>
      </div>

      <button type="submit" class="login-btn">Inscribirse</button>
      <button type="button" class="login-btn secondary-btn" routerLink="/detalle-inscripcion">Ver Inscripciones</button>
    </form>
  </div>
</div>

