<div class="main-container">
  <app-navbar></app-navbar>
  
  <div class="content-wrapper">
    <router-outlet></router-outlet>
    
    <nav class="main-nav">
      <button routerLink="/eventosinsc">EVENTOS</button>
      <button routerLink="/inscripciones">INSCRIPCIONES</button>
      <button routerLink="/espacios">ESPACIOS</button>
      <button routerLink="/reservas">RESERVAS</button>
    </nav>
    
    <div class="carousel-container">
      <app-carousel></app-carousel>
    </div>
  </div>
</div>