.fondo-pagina {
  min-height: 100vh;
  background: linear-gradient(to right, #cf283c, #f04f61);
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 30px;
}

.contenido-central {
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 1400px;
}

/* Título */
.titulo-principal {
  text-align: center;
  font-weight: bold;
  color: #cf283c;
  margin-bottom: 30px;
  font-size: 30px;
}

/* Tabla */
.tabla-reservas {
  width: 100%;
  border-collapse: collapse;
  min-width: 1200px;
}

.tabla-reservas thead {
  background-color: #cf283c;
  color: white;
}

.tabla-reservas th,
.tabla-reservas td {
  padding: 12px;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
}

/* Imágenes */
.reserva-img {
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.reserva-img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

/* Botones */
.btn-accion {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  margin-right: 5px;
  font-weight: bold;
  cursor: pointer;
  margin: 5px;
}

.btn-accion:hover {
  background-color: #218838;
}

.btn-eliminar {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.btn-eliminar:hover {
  background-color: #c82333;
}

.BtnRegresar {
  background: linear-gradient(to right, #d31027, #ea384d);
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.BtnRegresar:hover {
  background: linear-gradient(to right, #b31217, #c3273b);
}

input.form-control {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
}
