<app-navbar></app-navbar>
<div class="fondo-pagina">
  <div class="container mt-5 contenido-central">
    <h2 class="titulo-principal">Lista de Eventos</h2>
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        [(ngModel)]="filtroGeneral"
        (input)="filtrarEventos()"
        placeholder="Buscar eventos por nombre, descripción o ubicación"
      />
    </div>
    <table class="table tabla-eventos">
      <thead>
        <tr>
          <th>Evento</th>
          <th>Descripción</th>
          <th>Fecha Inicio</th>
          <th>Fecha Fin</th>
          <th>Ubicación</th>
          <th>Capacidad</th>
          <th>Imagen</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let evento of eventosFiltrados">
          <td>{{ evento.nombre }}</td>
          <td>{{ evento.descripcion }}</td>
          <td>{{ evento.fecha_inicio | date:'dd/MM/yyyy HH:mm' }}</td>
          <td>{{ evento.fecha_fin | date:'dd/MM/yyyy HH:mm' }}</td>
          <td>{{ evento.ubicacion }}</td>
          <td>{{ evento.capacidad }}</td>
          <td>
            <img *ngIf="evento.imagen" [src]="evento.imagen" alt="Evento" class="evento-img"/>
          </td>
          <td>
           
          </td>
        </tr>
      </tbody>
    </table>
    <button class="BtnRegresar" (click)="volverAFormulario()">Volver a inscripción</button>
  </div>
</div>

